<div class="row mx-0">
  <div class="col-12 mt-2">
    <div class="row mx-0">
      <div class="col-md-7 p-0">
        <h1>Text</h1>
      </div>
    </div>
    <div class="bg-white rounded border p-3">
      <div class="overflow-auto custom-table">
        <table class="w-100">
          <thead>
          <tr>
            <th>Color</th>
            <th>Example</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>#151a22</td>
            <td style="color: #151a22">Lorem ipsum dolor sit amet</td>
          </tr>
          <tr>
            <td>#64748b</td>
            <td style="color: #64748b">Lorem ipsum dolor sit amet.</td>
          </tr>
          <tr>
            <td>#ff4081</td>
            <td style="color: #ff4081">Lorem ipsum dolor sit amet.</td>
          </tr>
          <tr>
            <td>#3f51b5</td>
            <td style="color: #3f51b5">Lorem ipsum dolor sit amet.</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 mt-2">
    <div class="row mx-0">
      <div class="col-md-7 p-0">
        <h1>Button</h1>
      </div>
    </div>
    <div class="bg-white rounded border p-3">
      <div class="overflow-auto custom-table">
        <table class="w-100">
          <thead>
          <tr>
            <th>Color</th>
            <th>Example</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>#28A745</td>
            <td>
              <button mat-flat-button class="custom-btn btn-success my-2">
                Button
              </button>
            </td>
          </tr>
          <tr>
            <td>#6c757d</td>
            <td>
              <button mat-flat-button class="custom-btn btn-gray my-2">
                Button
              </button>
            </td>
          </tr>
          <tr>
            <td>#3f51b5</td>
            <td>
              <button mat-flat-button color="primary" class="custom-btn my-2">
                Button
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 mt-2">
    <div class="row mx-0">
      <div class="col-md-7 p-0">
        <h1>Label</h1>
      </div>
    </div>
    <div class="bg-white rounded border p-3">
      <div class="overflow-auto custom-table">
        <table class="w-100">
          <thead>
          <tr>
            <th>Color</th>
            <th>Example</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>#bcf0da</td>
            <td>
             <span class="green-200 px-2 d-inline-flex rounded-full my-2">
                <span class="text-uppercase font-weight-600 text-xs tracking-wide p-1">Label</span>
              </span>
            </td>
          </tr>
          <tr>
            <td>#fbd5d5</td>
            <td>
              <span class="red-200 px-2 d-inline-flex rounded-full my-2">
                <span class="text-uppercase font-weight-600 text-xs tracking-wide p-1">Label</span>
              </span>
            </td>
          </tr>
          <tr>
            <td>#ebe8e8</td>
            <td>
              <span class="bg-gray px-2 d-inline-flex rounded-full my-2">
                <span class="text-uppercase font-weight-600 text-xs tracking-wide p-1">Label</span>
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
