<div class="row mx-0">
  <div class="col-12 mb-2">
    <div class="row mx-0">
      <div class="col-md-7 p-0">
        <h1>Global setting</h1>
      </div>
    </div>
  </div>
  <div class="col-12 mt-2">
    <div class="row mx-0  border rounded bg-white px-3 py-4">
      <div class="col-12">
        <div class="row mx-0 border-dashed-bottom border-color-light py-2">
          <div class="col-lg-3 pl-0 pb-2 pb-lg-0">
            <label class="text-secondary d-block m-0">Font family:</label>
          </div>
          <div class="col-lg-9 p-0">
            <p class="text-primary m-0">Noto Sans, sans-serif</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row mx-0 border-dashed-bottom border-color-light py-2">
          <div class="col-lg-3 pl-0 pb-2 pb-lg-0">
            <label class="text-secondary d-block m-0">Font size:</label>
          </div>
          <div class="col-lg-9 p-0">
            <p class="text-primary m-0">13px</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row mx-0 border-dashed-bottom border-color-light py-2">
          <div class="col-lg-3 pl-0 pb-2 pb-lg-0">
            <label class="text-secondary d-block m-0">Font weight:</label>
          </div>
          <div class="col-lg-9 p-0">
            <p class="text-primary m-0">400</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row mx-0 border-dashed-bottom border-color-light py-2">
          <div class="col-lg-3 pl-0 pb-2 pb-lg-0">
            <label class="text-secondary d-block m-0">Color:</label>
          </div>
          <div class="col-lg-9 p-0">
            <p class="text-primary m-0">#212529</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-2">
    <div class="row mx-0">
      <div class="col-md-7 p-0">
        <h1>Headings</h1>
      </div>
    </div>
    <div class="bg-white rounded border p-3">
      <div class="overflow-auto custom-table">
        <table class="w-100">
          <thead>
          <tr>
            <th>Heading</th>
            <th>Font size</th>
            <th>Font weight</th>
            <th>Example</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Heading 1</td>
            <td>32px</td>
            <td>600</td>
            <td><h1>Heading 1</h1></td>
          </tr>
          <tr>
            <td>Heading 2</td>
            <td>24px</td>
            <td>600</td>
            <td><h2>Heading 2</h2></td>
          </tr>
          <tr>
            <td>Heading 3</td>
            <td>18px</td>
            <td>600</td>
            <td><h3>Heading 3</h3></td>
          </tr>
          <tr>
            <td>Heading 4</td>
            <td>16px</td>
            <td>600</td>
            <td><h4>Heading 4</h4></td>
          </tr>
          <tr>
            <td>Heading 5</td>
            <td>13px</td>
            <td>600</td>
            <td><h5>Heading 5</h5></td>
          </tr>
          <tr>
            <td>Heading 6</td>
            <td>12px</td>
            <td>600</td>
            <td><h6>Heading 6</h6></td>
          </tr>
          <tr>
            <td>Paragraphs</td>
            <td>14px</td>
            <td>400</td>
            <td><p>Lorem ipsum dolor sit amet.</p></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


