<header class="header px-3">
  <div class="header-inner">
    <!-- Header Logo -->
    <div class="header-logo">
      <a>
        <div class="logo">
          <div class="logo-text" routerLink="/Nhon-hoa/Phong-ban/Danh-sach">
            
          </div>
        </div>
      </a>   
    </div>
    
    <!-- Header Menu -->
    <div class="header-menu">
      <div class="menu-left h-100">
        <app-header-nav></app-header-nav>
      </div>
      <div class="menu-right mr-3 h-100">
        <app-configuration></app-configuration>
        <!-- <app-language-selector></app-language-selector> -->
        <app-user-profile></app-user-profile>
      </div>

    </div>

  </div>

</header>